.package-version-container {
  margin-top: 3px;
}
.projects-list {
  border-top: 1px solid var(--vscode-sideBar-border);
  border-bottom: 1px solid var(--vscode-sideBar-border);
}
.projects-list-item {
  margin-bottom: 4px;
}

.version-badge {
  font-size: 12px;
  font-weight: bold;
  padding: 0px 2px;
  margin-left: 4px;
  background: var(--vscode-badge-background);
  color: var(--vscode-badge-foreground);
}

.projects-panel .loader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.package-version-selector {
  margin: 4px;
}

.projects-panel-header {
  grid-row: 1;
  grid-column: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.projects-panel-header .title {
  font-weight: bold;
  font-size: 16px;
  margin-left: 10px;
}

button {
  margin: 4px;
}

#package-description-container {
  margin: 5px 0px 0px 4px;
  border-top: 1px solid #fff;
}

.package-description a {
  margin: 0;
  padding: 0;
}

.package-description .table {
  border: 0;
}

.package-description .table tbody td:nth-child(1) {
  width: 100px;
}

.package-description .title-description {
  font-size: 14px;
  font-weight: bold;
}
